@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

body{
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container{
    background-color: salmon;
    padding: 2rem;
    border-radius: 10px;
}
