*{
    box-sizing: border-box;
}


.note {
    border-radius: 3px;
    width: 200px;
    height: 200px;
    background-color: wheat;
    margin: 10px;
}

textarea{
    background-color: rgb(211, 203, 188);
    outline: none;
    border: none;
    height: 180px;
    width: 100%;
    padding: 5px;
}

.content{
    padding: 3px;
    visibility: visible;
    background-color: wheat;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.hidden{
    display: none;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#add{
    position: absolute;
    left: 90%;
    width: 100px;
}
.tools{
    display: flex;
    justify-content: flex-end;
    background: rgb(23, 255, 23);
}

.tools button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}